th {
	text-align: left;
}

.thin {
	width: 5%;
}

.red {
	color: #d43f3a;
}

.footer {
	margin-bottom: 30px;
}

.button-panel {
	direction: rtl;
	text-align: right;
}

.button-panel > button {
	margin: 3px 0 3px 0;
}