<template name="about">
<div class="row">
<div class="col-sm-4 col-sm-offset-4">
<h2 dir="rtl">אודות התכנה</h2>
<img class="img-responsive" src="/kiosk-logo.jpg">
<p dir="rtl" class="text-justify">
תכנת הקיוסק נכתבה על ידי נועם יונגרמן (מחזור כ"ד) בשנת 2014. הקוד פתוח, וכל אדם מוזמן לתרום <a href="https://github.com/Noamyoungerm/kiosk-point-of-sale">כאן</a>. בדומה לתכנת חדר המדריכים, תכנת הקיוסק נבנתה על גבי <a href="https://www.meteor.com/">meteor</a>.</p>

<p dir="rtl" class="text-justify">קיוסק כ"ד מברך את משתמשי התכנה בשנים הבאות</p>
</div></div>
</template>